---
layout: layout.html
title: Hire me
permalink: /hire-me/
---
<h1>Hire me</h1>

If you're looking for an <strong>experienced senior developer</strong> who can provide <strong>high-quality, easy to maintain software,</strong> while having <strong>great and clear communication with you and your team</strong> throughout the process, you're in the right place.

Hi, I'm Žan and I'm a full stack web engineer with a passion for user experience. Here are a few of the ways that I can help you:

<ul>
<li>Create bespoke software solution for your specific needs</li>
<li>Modernize your project's frontend</li>
<li>Optimize your project's endpoints to reduce server costs</li>
<li>Quickly, without too much on-boarding, start working alongside your existing development team and help get your features and bug-fixes off the ground</li>
<li>Teach and mentor your junior developers</li>
</ul>

Are you looking to hire a senior developer to make an impact on your current project? If so, I'd love to help. Get in touch over <a href="/contact">here</a> or read more about the specific services I offer.

If you're interested in some of my past work, check out <a href="/work">this page</a>.
