{% extends "layout.html" %}
{% from "macros/pagination.html" import render_pagination %}
{% block title %}Musings{% endblock %}
{% block description %}A blog by Žan Anderle. Some musings on tech, music and everything in between.{% endblock %}
{% block body %}
  <h1>Just Some Musings</h1>

  {{ this.intro }}

  <hr/>
  <div class="blog-index">
    {% if this.pagination.items %}
    <nav>
      <ul>
      {% for post in this.pagination.items %}
        <li>
          <a href="{{ post|url }}">{{ post.title }}</a><time datetime="{{ post.pub_date }}"> — {{ post.pub_date|dateformat }}</time>
          <br/>
          {{ post.excerpt }}
          <p>
            <a href="{{ post|url }}">Read more...</a>
          </p>
        </li>
      {% endfor %}
      </ul>
    </nav>
    {% else %}
      <p>No blog posts at the moment. Coming soon!</p>
    {% endif %}

    {% if this.pagination.pages > 1 %}
      {{ render_pagination(this.pagination) }}
    {% endif %}
  </div>
{% endblock %}