{% extends "layout.html" %}
{% block og_type %}article{% endblock %}
{% block title %}{{ this.title }} | Musings{% endblock %}
{% block meta_description %}{% if this.meta_description %}{{ this.meta_description }}{% else %}A blog by Žan Anderle. Some musings on tech, music and everything in between.{% endif %}{% endblock %}
{% block body %}
  <a href="{{ '/musings'|url }}">&lt; Just Some Musings</a>
  <article>
    <header>
      <h1>{{ this.title }}</h1>
      <time datetime="{{ this.pub_date }}"> — {{ this.pub_date|dateformat('full') }}</time>
    </header>
    <div class="blog-post-body">{{ this.body }}</div>
    <div class="comments">{{ render_disqus_comments() }}</div>
  </article>
{% endblock %}