{% extends "layout.html" %}
{% block title %}Projects{% endblock %}
{% block body %}
  <h1>Projects</h1>
  <h4>Some of the current and previous gigs/projects</h4>
  <ul class="panel-list">
  {% for project in this.children %}
    <li class="pure-g">
      {% set image = project.attachments.images.first() %}
      {% if image %}
      <div class="pure-u-2-5">
        <img src="{{ image.thumbnail(640)|url }}" alt="{{ project.title }} image" class="pure-img">
      </div>
      {% endif %}
      <div class="panel-content pure-u-3-5">
        <h2><a href="{{ project.website }}" target="_blank">{{ project.title }}</a></h2>
        <p>{{ project.excerpt }}</p>
        {% if project.tags %}
        <ul class="tags-list">
          {% for tag in project.tags %}
          <li>{{ tag }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
    </li>
  {% endfor %}
  </ul>
{% endblock %}