{% extends "layout.html" %}
{% block title %}{{ this.title }} ({{ this.date.year }}){% endblock %}
{% block body %}
  <h1><a href="{{ this.website }}">{{ this.title }}</a></h1>

  {% set images = this.attachments.images.all() %}
  <div class="pure-g">
  {% if images %}
      <div class="panel-content pure-u-2-5">
        {% for image in images %}
            <img src="{{ image.thumbnail(640)|url }}" alt="{{ this.title }}" class="pure-img">
        {% endfor %}
      </div>
  {% endif %}
      <div class="panel-content pure-u-3-5">
        <p>{{ this.body }}</p>
      </div>
  </div>
{% endblock %}