{% extends "layout.html" %}
{% block title %}Projects{% endblock %}
{% block body %}
  <h1>Projects</h1>
  <ul class="panel-list">
  {% for project in this.children %}
    <li class="pure-g">
      {% set image = project.attachments.images.first() %}
      {% if image %}
        <img src="{{ image.thumbnail(640)|url }}" alt="{{ project.title }} image" class="pure-u-2-5">
      {% endif %}
      <div class="panel-content pure-u-3-5">
        <h2><a href="{{ project|url }}">{{ project.title }}</a></h2>
        <p>{{ project.excerpt }}</p>
      </div>
    </li>
  {% endfor %}
  </ul>
{% endblock %}