$color-primary-0: #3171D6;  // Main Primary color */
$color-primary-1: #7DA7E8;
$color-primary-2: #5389DF;
$color-primary-3: #105ACE;
$color-primary-4: #094199;

$color-secondary-1-0: #FFD426;  // Main Secondary color (1) */
$color-secondary-1-1: #FFE57E;
$color-secondary-1-2: #FFDC50;
$color-secondary-1-3: #FFCD00;
$color-secondary-1-4: #E8BA00;

$color-secondary-2-0: #FF7E26;  // Main Secondary color (2) */
$color-secondary-2-1: #FFB27E;
$color-secondary-2-2: #FF9650;
$color-secondary-2-3: #FF6700;
$color-secondary-2-4: #E85E00;

// Greys */

$grey-primary-0: #616367;  // Main Primary grey */
$grey-primary-1: #A0A2A4;
$grey-primary-2: #7D7F83;
$grey-primary-3: #46484D;
$grey-primary-4: #26292D;

$grey-secondary-1-0: #9C9A91;  // Main Secondary grey (1) */
$grey-secondary-1-1: #F8F7F1;
$grey-secondary-1-2: #C6C4BC;
$grey-secondary-1-3: #747268;
$grey-secondary-1-4: #434139;

$grey-secondary-2-0: #9C9691;  // Main Secondary grey (2) */
$grey-secondary-2-1: #F8F4F1;
$grey-secondary-2-2: #C6C0BC;
$grey-secondary-2-3: #746D68;
$grey-secondary-2-4: #433D39;

$footer-height: 22px;

@import url(https://fonts.googleapis.com/css?family=Cutive+Mono|Open+Sans:400,300,700,400italic&subset=latin-ext);

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin border-bottom-radius($radius) {
  -webkit-border-bottom-left-radius: $radius;
     -moz-border-bottom-left-radius: $radius;
      -ms-border-bottom-left-radius: $radius;
          border-bottom-left-radius: $radius;
  -webkit-border-bottom-right-radius: $radius;
     -moz-border-bottom-right-radius: $radius;
      -ms-border-bottom-right-radius: $radius;
          border-bottom-right-radius: $radius;
}

@mixin border-top-radius($radius) {
  -webkit-border-top-left-radius: $radius;
     -moz-border-top-left-radius: $radius;
      -ms-border-top-left-radius: $radius;
          border-top-left-radius: $radius;
  -webkit-border-top-right-radius: $radius;
     -moz-border-top-right-radius: $radius;
      -ms-border-top-right-radius: $radius;
          border-top-right-radius: $radius;
}

@mixin drop-shadow ($x: 0, $y: 1px, $blur: 2px, $spread: 0, $alpha: 0.25) {
    -webkit-box-shadow: $x $y $blur $spread rgba(0, 0, 0, $alpha);
    -moz-box-shadow:    $x $y $blur $spread rgba(0, 0, 0, $alpha);
    box-shadow:     $x $y $blur $spread rgba(0, 0, 0, $alpha);
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: $footer-height;
    background-image: url('/static/grey.png');
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: 'Open Sans', sans-serif;
}
.pure-g > [class *= "pure-u"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1em;
}


main + footer {
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: $footer-height;
    color: $grey-secondary-1-2;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $grey-primary-3;
}

a {
    color: $color-primary-1;
    &:hover,
    &:focus,
    &:active {
        color: $color-primary-3;
    }
}

nav,
[role="navigation"] {
    ul li a {
        text-decoration: none;
    }
}

.highlight {
    background-color: #49483e;
    padding: 10px 30px;
}

main {
    max-width: 976px;
    padding: 0 2em;
    margin: 0 auto;
}

[role="banner"] {
    display: block;
    width: 100%;
    border-bottom: 1px dashed $grey-primary-1;
    margin-bottom: 45px;
    background-color: white;
    height: 131px;

    > div {
        max-width: 976px;
        padding: 0 2%;
        margin: 0 auto;
    }

    h1 {
        display: inline-block;
        padding: 20px 0 0;
        // font-size: 2.1em;
        font-family: 'Cutive Mono', monospace;
        margin-bottom: 0;
    }
    h2 {
        font-family: monospace;
        margin: 2px 0 8px 0px;
        font-weight: 400;
        font-size: 1.2em;
        color: $grey-primary-1;
    }

    nav,
    [role="navigation"] {
        float: right;
        margin: 40px 0;
        margin-bottom: 5px;
        ul {
            margin: 0;
            padding: 0;
            li {
                display: inline;
                a {
                    max-width: 4em;
                    text-align: center;
                    display: inline-block;
                    padding: 15px 25px;
                    padding-bottom: 10px;
                    color: $grey-primary-0;
                    border-color: $grey-primary-0;
                    -webkit-transition: color 0.3s linear, padding 0.3s ease-out;
                    -moz-transition: color 0.3s linear, padding 0.3s ease-out;
                    -o-transition: color 0.3s linear, padding 0.3s ease-out;
                    transition: color 0.3s linear, padding 0.3s ease-out;
                    &:hover,
                    &:focus,
                    &:active,
                    &[aria-expanded="true"]:hover,
                    &[aria-expanded="true"]:focus,
                    &[aria-expanded="true"]:active {
                        padding-bottom: 22px;
                        color: $color-secondary-2-2;
                        border-bottom: 4px solid $color-secondary-2-0;
                    }
                    &[aria-expanded="true"] {
                        color: $color-secondary-2-4;
                    }
                }
            }
        }
    }
}

.image-label {
  font-size: 0.9em;
  color: $grey-primary-1;
}

[role="tablist"] {
    padding-left: 0;
    margin: 0;
    li {
        display: inline-block;
    }
}
[role="tab"] {
    padding: 10px 20px;
    display: block;
}
[role="tab"][aria-selected=true] {
    border: 1px solid $grey-primary-1;
    border-bottom: 1px solid white;
    margin-bottom: -1px;
    @include border-top-radius(5px);
}
[role="tabpanel"] {
    display: none;
}
[role="tabpanel"][aria-expanded=true] {
    display: block;
}

.tabs-area {
    [role="tab"][aria-selected=true] {
        background-color: white;
    }
    .tabs-content {
    background-color: white;
        border: 1px solid $grey-primary-1;
        padding: 15px 50px 30px;
        @include border-bottom-radius(5px);
    }
}

ul.panel-list {
    list-style: none;
    width: 100%;
    padding-left: 0;
    > li {
        &:first-child {
            border-top-width: 1px;
            @include border-top-radius(5px);
        }
        &:last-child {
            @include border-bottom-radius(5px);
        }
        background-color: white;
        display: block;
        padding: 20px 30px;
        border: 1px solid $grey-primary-1;
        border-top-width: 0;
        .panel-content {
            vertical-align: top;
            display: inline-block;
            padding: 0 20px;
            h2 {
                margin: 10px 0;
            }
        }
    }
}

body {
  font-size: 100%;
}

[role="banner"],
main {
  font-size: 1em;
  /* equivalent to 16px */
  line-height: 1.25;
  /* equivalent to 20px */
}

@media (min-width: 43.75em) {
  [role="banner"],
  main {
    font-size: 1em;
    /* equivalent to 16px */
    line-height: 1.375;
    /* equivalent to 22px */
  }
}

h1 {
  font-size: 2em;
  /* 2x body copy size = 32px */
  line-height: 1.25;
  /* 45px / 36px */
}

@media (min-width: 43.75em) {
  h1 {
    font-size: 2.5em;
    /* 2.5x body copy size = 40px */
    line-height: 1.125;
  }
}

@media (min-width: 56.25em) {
  h1 {
    font-size: 3em;
    /* 3x body copy size = 48px */
    line-height: 1.05;
    /* keep to a multiple of the 20px line height and something more appropriate for display headings */
  }
}

h2 {
  font-size: 1.625em;
  /* 1.625x body copy size = 26px */
  line-height: 1.15384615;
  /* 30px / 26px */
}

@media (min-width: 43.75em) {
  h2 {
    font-size: 2em;
    /* 2x body copy size = 32px */
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h2 {
    font-size: 2.25em;
    /* 2.25x body copy size = 36px */
    line-height: 1.25;
  }
}

h3 {
  font-size: 1.375em;
  /* 1.375x body copy size = 22px */
  line-height: 1.13636364;
  /* 25px / 22px */
}

@media (min-width: 43.75em) {
  h3 {
    font-size: 1.5em;
    /* 1.5x body copy size = 24px */
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h3 {
    font-size: 1.75em;
    /* 1.75x body copy size = 28px */
    line-height: 1.25;
  }
}

h4 {
  font-size: 1.125em;
  /* 1.125x body copy size = 18px */
  line-height: 1.11111111;
}

@media (min-width: 43.75em) {
  h4 {
    line-height: 1.22222222;
    /* (22px / 18px */
  }
}

blockquote {
  font-size: 1.25em;
  /* 20px / 16px */
  line-height: 1.25;
  /* 25px / 20px */
}

@media (min-width: 43.75em) {
  blockquote {
    font-size: 1.5em;
    /* 24px / 16px = */
    line-height: 1.45833333;
    /* 35px / 24px */
  }
}

#svg-wrap {
  position: relative;
  [role="tooltip"] {
    padding: 5px 10px;
    background-color: white;
    border: 1px solid $grey-primary-1;
    @include border-radius(5px);
    position: absolute;
    display: block;
    pointer-events: none;
    &[aria-hidden="true"] {
      display: none;
    }
  }
  svg .node circle {
    -webkit-transition: stroke-width 0.4s ease, stroke 0.2s ease;
    -moz-transition: stroke-width 0.4s ease, stroke 0.2s ease;
    -o-transition: stroke-width 0.4s ease, stroke 0.2s ease;
    transition: stroke-width 0.4s ease, stroke 0.2s ease;
  }
}